.navbar-brand img {
    height: 60px;
}


.nav-logo-text {
    font-family: 'Russo One';
    display: inline-block;
    margin-left: 12px;
    font-size: 24px;
    letter-spacing: 1.2px;
    color: rgb(236, 98, 5)

    
}

.nav-searchbar {
    width: 300px !important;
}

.dropdown-item {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item a.anchor-dropdown {
    color: lightslategray;
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
    padding: .25rem 1.5rem;
}



.dropdown-item a.anchor-dropdown:hover {
    text-decoration: none;
   
}

@media screen and (min-width: 992px) {
    .multi-column-dropdown {
        width: 400px;
    }
}

